* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.bg-black {
    background-color: black;
    color: white;
}

.home-main .top-navbar{
    background-color: white;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

 .home-main .top-navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
 }

 ul li {
    list-style-type: none;
 }

 .home-main .top-navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
 }

 .display-none {
    display: none;
 }

 @media (max-width: 768px) {
    .home-main .top-navbar ul {
        flex-direction: column;  /* Stack items vertically */
        align-items: flex-start;
        display: none;  /* Hide navbar by default on mobile */
        position: absolute;
        top: 10vh;  /* Below the fixed navbar */
        left: 0;
        width: 100%;
        background-color: white;
        padding: 1rem;
        line-height: 3rem;
    }

    .logo-remove {
        display: none;
    }

    .home-main .top-navbar ul.show {
        display: block;  /* Show navbar when 'show' class is added */
    }

    .mobile-menu-toggle {
        cursor: pointer;
        font-size: 1rem;
        padding: 1rem;
        background-color: #333;
        color: white;
        text-align: center;
        border-radius: 5px;
    }

    .display-none {
        display: block;
        display: flex;
        justify-content: space-between;
        margin: 1.2rem;
    }

    /* Adjust logo size for mobile */
    .home-main .top-navbar ul li a img {
        width: 40px;
    }
}

 /* Navbar end */


 /* Header section */
 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    margin-bottom: 5vh;
 }

 header h3 {
    font-size: 2rem;
 }

 header h4 {
    font-size: 1.5rem;
    font-weight: 400;
 }

 .the-great-migration {
    padding: 0rem 5vw;
 }

 .the-great-migration-left {
    padding: 0rem 1.2rem;
    width: 60vw;
 }

 .the-great-migration-right {
    width: 30vw;
 }

 .the-great-migration-left .migration-left-section-first{
    justify-content: space-between;
    padding: 1rem 0rem;
    border-bottom: 1px solid black;
 }

 .migration-left-section-first h3{
    font-size: 2rem;
 }

 .migration-left-section-second ul{
    justify-content: space-around;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid black;
 }

 .overview-section{
    padding: 1.5rem 0rem;
    border-bottom: 1px solid black;
 }

 .overview-section h3 {
    font-size: 1.5rem;
 }

 .day-section-main {
    margin: 1rem 0rem;
    border-bottom: 1px solid black;
 }

 .day-section-outer {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 0rem;
    margin: 1rem 0rem;
 }

 .day-section-inner {
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-radius: 10px;
    padding: 1rem 0.5rem;
 }

 .day-section-outer p {
    padding: 0rem 0.5rem;
 }

 .map-section iframe {
    width: 50vw;
    height: 50vh;
 }

 .migration-carausal {
    padding: 2rem 0vw;
    background: url(/assets/background.jpg);
    background-repeat: no-repeat;
     background-size: cover;
      height: 30vh;
      color: white;
      font-weight: 600;
      font-size: 2rem;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 1rem;
 }

 .migration-profile-section {
    padding: 0.8rem;
    text-align: center;
    border-radius: 10px;
 }

 .migration-profile-section img {
    border-radius: 50%;
    width: 10vw;
 }

 .migration-profile-section h4 {
    padding-bottom: 0.8rem;
 }

 .migration-profile-section p {
    font-size: 0.8rem;
 }

 .sign-up-form-section {
    margin: 2vh 0vw;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
 }

 .sign-up-form-section h3 {
    padding: 1rem 0.5rem;
 }

 .sign-up-form-section input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid slategray;
 }

 .sign-up-form-section button {
    width: 20vw;
    height: 3rem;
    font-size: 1rem;
    margin: 1.5rem 0rem;
 }

 .migration-question {
    padding: 1rem 0.5rem;
 }

 .migration-question a ,.migration-question p {
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem 0rem;
 }

 .subscribe-section {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
 }

 .subscribe-section h3 {
    font-size: 2rem;
 }

 .subscribe-section input, button {
    padding: 0.5rem;
 }

 footer ul {
    justify-content: space-around;
    padding: 2rem 0rem;
 }

footer .footer-logo {
    justify-content: center;
}

footer .social-media ul{
    justify-content: center;
    color: black;
    gap: 1rem;
}

footer .footer-copyright {
    padding: 1rem 0rem;
    font-size: 0.6rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .the-great-migration {
        padding: 0rem 3vw;
        flex-direction: column;
     }
    
     .the-great-migration-left {
        padding: 0rem 1.2rem;
        width: 90vw;
     }
    
     .the-great-migration-right {
        width: 90vw;
        padding-bottom: 1rem ;
     }

     footer nav ul {
        flex-direction: column;
     }

     .sign-up-form-section input {
        width: 70vw;
     }

     
 .migration-profile-section {
    height: 35vh;
 }

 .map-section iframe {
    width: 85vw;
 }
}
